# Configuration file version
# See here for more information on configuration:
# https://grafana.com/docs/grafana/latest/administration/provisioning/#example-data-source-configuration-file
apiVersion: 1

# Mark provisioned data sources for deletion if they are no longer in a provisioning file.
prune: false

# List of data sources to insert/update depending on what's available.
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: prometheus
    url: $PROMETHEUS_INTERNAL_URL
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: loki
    url: $LOKI_INTERNAL_URL
    editable: true
    jsonData:
      maxLines: 1000
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    uid: tempo
    url: $TEMPO_INTERNAL_URL
    editable: true
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        tags:
          - job
          - instance
          - pod
          - namespace
        mappedTags:
          - key: service.name
            value: service
          - key: service.namespace
            value: namespace
        mapTagNamesEnabled: false
        spanStartTimeShift: 1h
        spanEndTimeShift: 1h
        filterByTraceID: false
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: prometheus
        tags:
          - key: service.name
            value: service
          - key: service.namespace
            value: namespace
        queries:
          - name: Sample query
            query: sum(rate(tempo_spanmetrics_latency_bucket{$$__tags}[5m]))
      nodeGraph:
        enabled: true
      search:
        hide: false
      serviceMap:
        datasourceUid: prometheus